.todoThing {
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: #FF9E73;
    border: 2px solid black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.todoThing p {
    font-size: 1.3rem;
    margin: 0 0 0 5px;
}

.todoThing button {
    margin: 0 5px 0 0;
    padding: 0;
    width: 80px;
    height: 35px;
}

.todoThing.done {
    background-color: #00AC6B;
}

.addThing {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.addThing input{
    font-size: 1.3rem;
    padding: 15px;
    margin-top: 10px;
}

.addThing div{  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button{  
    width: 120px;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.popUpDelete {
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    top: 80px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 0;
    background-color: red;
    box-shadow: grey 3px 3px 3px;
    border-radius: 10px;
}

.popUpDelete.active {
    opacity: 1;
}

.todoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.561);
    padding: 5px 25px 5px 5px;
    margin: 10px;
    width: 600px;
    border-radius: 20px;
}

.resetButton {

}
