.todoThing {
    display: flex;
    margin: 10px;
    padding: 5px;
    /* background-color: #FF9E73; */
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.todoThing p {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.todoThing button {
    margin: 0 5px 0 0;
    padding: 0;
    width: 80px;
    height: 35px;
}

.todoThing.done {
    background-color: #00AC6B;
}

.addThing {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.addThing input{
    margin: 5px 0 0 0;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
}

.addThing input:hover {
        border-color: #FF9E73;
}

.addThing input:focus{
        border-color: #FF9E73;
        background: #fff;
}

.addThing div{  
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button{  
    width: 120px;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

button {
    align-items: center;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.050);
    border: 3px solid #FF9E73;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 5px 0 0 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
  
  button:hover,
  button:focus {
    background-color: #ff9d73a8;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.resetButton button {
    background-color: rgb(252, 54, 54);
    border: rgb(252, 54, 54);
  }
  
.resetButton button:hover,
.resetButton button:focus {
    background-color: rgba(252, 54, 54, 0.671);
}

.resetButton {
    position: relative;
    left: 0;
}

.popUpDelete {
    position: absolute;
    font-size: 1.2rem;
    right: 0;
    top: 80px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 0;
    background-color: red;
    box-shadow: grey 3px 3px 3px;
    border-radius: 10px;
}

.popUpDelete.active {
    opacity: 1;
}

.todoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.300);
    padding: 0px 5px 0px 0px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    transition: 1s;
}

.todoCard input{
    width: 100%;
    border: none;
    background: none;
    height: 100%;
}

.todoCard.done {
    background-color: #00ac6a;
    background-repeat: none;
    background-size: contain;
    color: #000000;
    transition: 1s;
}

.todoCard.done p {
    text-decoration: line-through;
}


img {
    width: 25px;
    padding-left: 10px;
    transition: 0.1s;
    cursor: pointer;
}

img:hover{
  width: 30px; 
  padding-left: 5px; 
  opacity: 70%;
}

